<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./root/link_header') -%>
    <title>Cấu Hình Cửa Hàng</title>
</head>
<body>
   <header>
        <h1>CHỈNH SỬA THÔNG TIN CỬA HÀNG</h1>
    </header>
    <section class = "admin-content">
        <%- include('./root/admin_content_left') -%>
        <div class = "admin-content-right">
            <div class="admin-content-right-category-add">
                <h1>Thay đổi Slider</h1>
                <div class="upload-box">
                    <div class="upload-btn-box">
                        <label class="upload-btn">
                            <p>Upload images</p>
                            <input type="file" multiple name="image-multi" class="upload-input-file">
                        </label>
                    </div>
                    <div class="upload-img-wrap" name="image-multi"></div>
                </div>
                <button class="btn-add">Thêm</button>
            </div>
        </div>
        <div id="overlay">
            <div class="cv-spinner">
              <span class="spinner"></span>
            </div>
        </div>
    </section>
    

    <script src="/js/libs/jquery-3.4.0.min.js"></script>
    <script src="/js/libs/jToast.min.js"></script>
    <script src="/js/libs/crypto-js.js"></script>
    <script src="/js/libs/common.js"></script>
    <script src="/js/admin/image-slider-admin-js.js"></script>
</body>
</html>