<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./root/link_header') -%>
    <title>Cấu hình Cửa hàng</title>
</head>
<body>
   <header>
        <h1>CHÀO MỪNG ADMIN CHAN ĐẾN VỚI TRANG ADMIN</h1>
    </header>
    <section class = "admin-content">
        <%- include('./root/admin_content_left') -%>
    </section>
</body>
</html>