<!-- ---------------------------------------------------------Footer -->
<section class = "Footer">
    <p>MỘC HƯƠNG RỪNG</p>
    <p>Uy tín tạo nên thương hiệu</p>
    <p> <b>Địa chỉ:</b> Hùng Vương - TP.Pleiku - Tỉnh Gia Lai</p>
    <p><b>Liên hệ:</b> 0935.860.779 - 0375.860.579</p>
    <input type="Tex" placeholder="Để lại Số điện thoại để Mộc tư vấn nha:">
</section> 