<div class = "admin-content-left">
    <ul>
        <li><a href="#">Shop</a>
            <ul>
                <li><a href="">Thay đổi Logo</a></li>
                <li><a href="">Thay đổi Thông tin shop</a></li>
                <li><a href="">Thay đổi Ảnh Slide</a></li>
            </ul>
        <li><a href="#">Danh mục</a>
            <ul>
                <li><a href="/admin/category/new">Thêm danh mục</a></li>
                <li><a href="">Danh sách Danh mục</a></li>
            </ul>
        </li>
        <li><a href="#">Loại sản phẩm</a>
            <ul>
                <li><a href="">Thêm Loại sản phẩm</a></li>
                <li><a href="">Danh sách Loại sản phẩm</a></li>
            </ul>
        </li> 
        <li><a href="#">Sản phẩm</a>
            <ul>
                <li><a href="">Thêm Sản phẩm</a></li>
                <li><a href="">Danh sách Sản phẩm</a></li>
            </ul>
        </li> 
    </ul>
</div>